<style>
    *{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .flex{
        justify-content: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .container{
        border-radius: 8px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.23);
        padding: 16px;
        margin: 0px
    }
    #timer{
        font-size: 24px;
        font-weight: bold;
    }
    p{
        margin: 8px 0px;
    }
</style>

<div class="container">
    <p>propx.title</p>
    <p>propx.subtitle</p>
    <p id="timer">rex.timer</p>
</div>