<button id="ump-button">click me</button>
<style>
    button{
        background-color: red;
        border: none;
        border-radius: 12px;
        color: white;
        padding: 6px 12px;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
    body{
        margin: 0px;
    }
</style>
<script>
    const button  = document.querySelector("#ump-button");
    button.onclick = async () => {
        const res = await fetch("https://pokeapi.co/api/v2/pokemon/ditto",
            {
                headers : {
                    "x-api-key" : "test"
                }
            }
        ).then(res => res.json());
        console.log(res);
    }
</script>